* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background: gray;
}

.clear-fix {
  overflow: auto;
}

h1 {
  font-size: 40px;
  color: #f58765;
  line-height: 48px;
  display: inline;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #999;
  line-height: 29px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #000;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 17px;
}

h4,
h5 {
  padding: 10px 5%;
}

.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #000;
  line-height: 16px;
  float: right;
}

p {
  font-size: 14px;
  color: #fff;
  line-height: 21px;
}

a {
  color: #1199c3;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: #f3f3f3;
  line-height: 28px;
}

#skills-h3 {
  color: #f58765;
  display: none;
}

.orange {
  background-color: white;
}

.orange-text {
  color: #f58765;
}

.white-text {
  font-weight: bold;
  color: #ddd;
}

.gray {
  background-color: #f2f2f2;
  padding: 15px;
  margin: 0 1px;
  border-radius: 20px;
  clear: both;
}

#projects {
  background: #f2f2f2;
  margin: 10px 3px;
  padding: 15px;
  border-radius: 20px;
}

.dark-gray {
  margin: 20px 0;
}

#header {
  background: url(../images/background.jpg) 0 0 no-repeat;
  margin-bottom: 10px;
  border-radius: 20px;
}

#role {
  color: #fff;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 5px;
}

.flex-item {
  padding: 3px 0;
}

.flex-item:hover {
  border: 1px solid;
  background: #9F8170;
  padding: 5px 0;
  transition: .3s ease-in-out;
  cursor: pointer;
}

.center-content {
  padding: 2.5% 5%;
}

ul {
  list-style-type: none;
}

.biopic {
  float: left;
  padding: 10px;
  width: 200px;
  border-radius: 50%;
}

.biopic:hover {
  transform: scale(1.25);
  cursor: pointer;
}

span {
  padding: 5px;
}

#lets-connect {
  text-align: center;
  background-color: #000;
  border-radius: 20px;
}

#mapDiv h2 {
  color: white;
}

#map {
  display: block;
  height: 100%;
  border-radius: 20px;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
  padding-left: 3px;
  margin-left: 4px;
  margin-right: 6px;
}
/* Media queries to handle various device widths */

@media only screen and (max-width: 350px) {
  
  #lets-connect .flex-box {
    display: none;
  }

  #mapDiv h2 {
    font-size: 15px;
  }

  #name {
    padding: 10px;
    font-size: 25px;
  }

  .welcome-message {
    display: none;
  }

  .flex-box {
    display: block;
  }

  #skillwelcomemsg {
    overflow: hidden;
    float: left;
    height: 150px;
  }

  #mapDiv {
    height: 200px;
    width: 100%;
    margin-bottom: 20%;
  }
}




